@import 'variable.less';
@import 'mixin.less';
@import 'reset.less';
@import 'page.less';
@import 'navbar.less';
@import 'footer.less';
@import 'main-content.less';

* {
    font-family: @default-font;
}

.body {
    border: 1px solid black;

    .navbar {
        border: 1px solid black;
        height: 100vh;
        width: 19.5vw;
        .flex(row);
        background: @navbar-bckgr;

        .nav-open-close {
            border: 1px solid black;
            width: 2vw;
            margin: auto;
        }

        .nav-container {
            border: 1px solid black;
            width: 100vw;
            .flex(column);

            .nav-container-person {
                border: 1px solid black;
                .flex(row);
                align-items: center;
                height: 7vh;
                justify-content: space-between;
                margin: 8% 5%;

                .nav-container-person-img {
                    border: 1px solid black;
                    width: 40%;
                    height: 100%;

                    img {
                        width: 80%;
                        height: 100%;
                    }
                }

                .nav-container-person-info {
                    border: 1px solid black;

                    h4 {
                        border: 1px solid black;
                        margin: 4% 0% 0% 24%;
                        color: white;
                        font-size: 1.5rem;
                        font-weight: 100;
                    }

                    p {
                        border: 1px solid black;
                        font-size: 0.9rem;
                        color: @navbar-col;
                    }
                }
            }

            .navbar-links {
                border: 1px solid black;
                width: 100%;

                .nav-container-link {
                    border: 1px solid black;
                    .flex(row);
                    justify-content: space-around;
                    padding: 5% 0%;
                    align-items: baseline;

                    i {
                        border: 1px solid black;
                        // font-size: 1.3rem;
                        // color: @navbar-col;
                        // margin: 1% 0% 0% -18%;
                        .navbar-i();
                    }

                    h4 {
                        border: 1px solid black;
                        font-size: 1.2rem;
                        font-weight: 500;
                        margin: 0% -17% 0% 0%;
                        color: @navbar-col;
                    }
                }
            }

            .nav-container-social-media {
                margin: 10%;
                border: 1px solid black;
                .flex(row);
                margin: 0 0 100% 0;
                justify-content: space-around;

                a {
                    font-size: 1.25rem;
                    color: @navbar-col;
                    border: 1px solid black;
                }
            }
        }
    }

    .main-container {
        border: 1px solid black;
        width: 80vw;
        background-image: url(img/zhu-hongzhi-1338337-unsplash.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background: blue;
        .flex(column);

        .introduction {
            border: 1px solid black;
            height: 100vh;
            .flex(column);
            align-items: center;
            justify-content: center;

            h1 {
                margin: -10% 0% 2.5% 0%;
                border: 1px solid black;
                font-size: 2rem;
                color: @introductionh1;
                text-align: center;
            }

            p {
                border: 1px solid black;
                font-size: 1.5rem;
                text-align: center;
                line-height: 1.75;
                color: @introductionh1;
                font-weight: 100;
            }

            a {
                margin: 5% 0% 0% 0%;
                border: 1px solid black;
                padding: 1.5% 3.9%;
                border-radius: 10px;
                background: @button-color;
                color: @introductionh1;
                text-decoration: none;
                font-size: 1.5rem;
            }
        }

        .portfolio {
            border: 1px solid black;
            height: 170vh;
            .flex(column);
            align-items: center;

            .portfolio-title {
                border: 1px solid black;
                margin: 8% 0% 4% 0%;

                h2 {
                    .section-header();
                }
            }

            .portfolio-description {
                border: 1px solid black;
                width: 90%;
                margin: 0 auto;
                text-align: center;

                p {
                    font-size: 1.45rem;
                    display: block;
                    line-height: 1.75;
                    color: @navbar-col;
                }
            }

            .portfolio-box-section {
                border: 1px solid black;
                .flex(row);
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                width: 90%;

                .portfolio-img-box {
                    border: 1px solid black;
                    .flex(column);
                    height: 25%;
                    .box-shadow();
                    padding-bottom: 1%;

                    .portfolio-box-img {
                        border: 1px solid black;
                    }

                    .portfolio-box-description {
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        }

        .about-me {
            border: 1px solid black;
            height: 100vh;
            .flex(column);
            align-items: center;

            .about-me-title {
                border: 1px solid black;
                margin: 8% 0% 4% 0%;

                h2 {
                    .section-header();
                    font-family: @default-font;
                    font-weight: 300;
                }
            }

            .about-me-photo {
                border: 1px solid black;
                width: 90%;
                height: 46%;
                margin-bottom: 4%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .about-me-description {
                border: 1px solid black;
                width: 90%;
                text-align: center;

                p {
                    font-size: 1.45rem;
                    color: @navbar-col;
                }
            }
        }

        .contact {
            border: 1px solid black;
            .flex(column);
            height: 120vh;
            align-items: center;
            width: 100%;

            .contact-title {
                margin: 8% 0% 4% 0%;
                border: 1px solid black;

                h2 {
                    .section-header();
                }
            }

            .contact-description {
                border: 1px solid black;
                width: 90%;
                text-align: center;
                margin-bottom: 5%;

                p {
                    font-size: 1.45rem;
                    color: @navbar-col;
                }
            }

            .contact-user-information {
                .flex(row);
                justify-content: space-between;
                width: 90%;
                margin-bottom: 3%;

                input {
                    width: 45%;
                    border-radius: 0.35em;
                    padding: 1.25rem 1rem 1.25rem 1rem;
                    box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
                    border: solid 1px rgba(0, 0, 0, 0.15);
                    font-size: 1.5rem;
                    font-weight: 300;
                }
            }

            .contact-message {
                border: 1px solid black;
                width: 90%;

                input {
                    width: 99.8%;
                    padding: 0.5rem 0 15rem 0.5rem;
                    border-radius: 0.35em;
                    box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
                    border: solid 1px rgba(0, 0, 0, 0.15);
                    font-size: 1.5rem;
                    font-weight: 300;
                }
            }

            .contact-send {
                margin-top: 2%;
                border: 1px solid black;
                width: 20%;
                margin-bottom: 10%;

                button {
                    color: white;
                    width: 100%;
                    font-size: 1.5rem;
                    font-weight: 300;
                    border-radius: 0.35rem;
                    padding: 1.5rem 2rem 1.5rem 2rem;
                    background-color: #8ebebc;
                    border: 0;
                    cursor: pointer;
                }
            }
        }

        footer {
            border: 1px solid black;
            .flex(row);
            height: 15vh;
            align-items: center;
            justify-content: center;

            .footer-copyright {
                border: 1px solid black;
            }
        }
    }
}