@import 'variable.less';
@import 'mixin.less';
@import 'reset.less';
@import 'page.less';
@import 'navbar.less';
@import 'footer.less';
@import 'main-content.less';

* {
    font-family: @default-font;
}

.body {
    border: 1px solid black;

    footer {
        border: 1px solid black;
        .flex(row);
        height: 15vh;
        align-items: center;
        justify-content: center;

        .footer-copyright {
            border: 1px solid black;
        }
    }
}