.main-container {
    width: 80vw;
    background-image: url(img/zhu-hongzhi-1338337-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background: blue;
    .flex(column);

    .introduction {
        position: relative;
        height: 100vh;
        width: 100%;
        .flex(column);
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 3.1rem;
            line-height: 5rem;
            color: @introductionh1;
            text-align: center;
            z-index: 1;
            font-weight: 100;
            margin-bottom: 2%;
        }

        p {
            font-size: 1.57rem;
            text-align: center;
            z-index: 1;
            line-height: 2.75rem;
            color: @introductionh1;
            font-weight: 100;
        }

        a {
            margin: 3% 0% 0% 0%;
            padding: 1.5% 3.9%;
            border-radius: 10px;
            background: @button-color;
            color: @introductionh1;
            text-decoration: none;
            font-size: @first-font-size;
            z-index: 1;
            font-weight: 300;
        }

        .video-container {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;

            video {
                height: 100%;
            }
        }
    }

    .portfolio {
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
        background: @portfolio-bckcol;
        height: 170vh;
        .flex(column);
        align-items: center;

        .portfolio-title {
            margin: 8% 0% 4% 0%;

            h2 {
                .section-header();
            }
        }

        .portfolio-description {
            width: 90%;
            margin: 0 auto;
            text-align: center;

            p {
                font-size: 1.45rem;
                display: block;
                line-height: 1.75;
                color: @navbar-col;
            }
        }

        .portfolio-box-section {
            .flex(row);
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 90%;

            .portfolio-img-box {
                .flex(column);
                height: 25%;
                .box-shadow();
                padding-bottom: 1%;


                .portfolio-box-description {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }

    .about-me {
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
        background: @portfolio-bckcol;
        height: 100vh;
        .flex(column);
        align-items: center;

        .about-me-title {
            margin: 8% 0% 4% 0%;

            h2 {
                .section-header();
                font-family: @default-font;
                font-weight: 300;
            }
        }

        .about-me-photo {
            width: 90%;
            height: 46%;
            margin-bottom: 4%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .about-me-description {
            width: 90%;
            text-align: center;

            p {
                font-size: 1.45rem;
                color: @navbar-col;
            }
        }
    }

    .contact {
        .flex(column);
        height: 100vh;
        align-items: center;
        width: 100%;
        background: @contact-bck;
        .flex(column);
        justify-content: center;

        .contact-title {
            margin-bottom: 2%;

            h2 {
                .section-header();
            }
        }

        .contact-description {
            width: 90%;
            text-align: center;

            p {
                font-size: 1.45rem;
                color: @navbar-col;
            }
        }

        .contact-user-information {
            .flex(row);
            justify-content: space-between;
            width: 90%;
            margin-bottom: 3%;

            input {
                width: 45%;
                border-radius: 0.35em;
                padding: 1.25rem 1rem 1.25rem 1rem;
                box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
                border: solid 1px rgba(0, 0, 0, 0.15);
                font-size: 1.5rem;
                font-weight: 300;
                background: @input-bck;
            }
        }

        .contact-message {
            width: 90%;

            input {
                width: 99.8%;
                padding: 0.5rem 0 15rem 0.5rem;
                border-radius: 0.35em;
                box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
                border: solid 1px rgba(0, 0, 0, 0.15);
                font-size: 1.5rem;
                font-weight: 300;
                background: @input-bck;
            }
        }

        .contact-send {
            margin-top: 2%;
            width: 20%;
            margin-bottom: 10%;

            button {
                color: white;
                width: 100%;
                font-size: 1.5rem;
                font-weight: 300;
                border-radius: 0.35rem;
                padding: 1.5rem 2rem 1.5rem 2rem;
                background-color: @sendmessage-btn;
                border: 0;
                cursor: pointer;
            }
        }
    }
}