@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
/// Colors
@default-icon: #41484C;
@icon-focus: #E27689;
@button-color: #82AFAD;
@navbar-bckgr: #212528;
@navbar-col: #828486;
@introductionh1: #F4F3F1;
@section-title-col: #666666;
@portfolio-bckcol: #E8EDED;

/// width
@default-width: 100%;


//font-size: 
@default-font: 62.5%;

//font-type
@default-font: 'Source Sans Pro';